@charset "UTF-8";

*
    {
        margin: 0px;
        padding: 0px;
    }

/* para criar variáveis com as cores  e facilitar
    :root 
        {
            --cor1: #1a5c38
            --cor2:
            --cor3:
            --cor4:
            --cor5:

            --fontepadrao: Arial, Verdana, selvetica, sans-serif;
            --fontetitulo: ...
        }
*/

body
    {
        background-color: #84E1AD;
        font-size: 18px;
        font-family:  Arial, Helvetica, sans-serif ;
    }

header
    {
        padding-top: 40px;
        min-height: 150px;
        box-shadow: 2px 2px 10px #1A5C38 ;
        background-image:linear-gradient(#3CD883,#1A5C38);
    }
    
#header_top
    {
        text-align: center;
    }

h1
    {
        font-size: 2.5em;
    }

header h1, #subtitulo
    {
        font-weight: normal;
        font-family: 'Bebas Neue', cursive;
        padding: 20px;  
        color: white;
        text-shadow: 1px 1px 1px black;
    }

#subtitulo
 {
    min-width: 400px;
     margin: 0 auto;
 }

nav
    {
        padding: 10px;
    }

header ul
    {
       display: block;
       padding: 20px;
       min-width: 400px;  
    } 


header li
    {
        display: inline-block;
        margin: 10px 10px 0px 10px;
        color: white;
        padding: 10px;
        border-radius: 10px;
    }   

header li:hover
    {
        cursor: pointer;
        background-color: #2FA866;
        transition: 0.35s;
        color: #1A5C38;
        box-shadow: 2px 2px 2px #154b2d;

    }
    
strong
    {
        color: #154b2d;
    }

a
    {
        padding: 2px 6px;
        text-decoration: none;
        color: #154b2d;
        background-color: #4ab47b;
    }

a:hover
    {
        text-decoration: underline;
        font-weight: bold;
    }

a::after
    {
        content: '\01F4CE';
    }

main
    {
        text-indent: 20px;
        text-align: justify;
        min-width: 300px;
        max-width: 800px;
        margin: auto;
        background-color: white;
        box-shadow: 2px 2px 10px #1A5C38 ;
        border-radius: 5px;
    }

h2
    {
        font-size: 1.7em;
        padding: 20px 10px 10px 10px;
        margin: 10px;
        color: #2B6847;
        font-family: droid, Arial, Helvetica, sans-serif, ;
    }
h3
    {   
        color: #2B6847;
        padding: 5px;
        font-size:1.6em;
        margin: 10px;
        background-image: linear-gradient(to right,#C8ECD8, white);
        
    }



.img_main
    {
        display: block;
        padding: 2em;
        margin: 2em auto;
        width: 80%;
    }

#img_bugdroid
    {
        max-width: 350px;
        display: block;
        margin: auto;
    }

main p
    {
        margin: 10px 0;
        padding: 20px;
        line-height: 2em;
    }

    
.div_video
    {
        background-color: #154b2d;
        margin-bottom: 50px;
        padding: 20px;
        padding-bottom: 50%;
        position: relative;
    }

#video
    {
        left: 5%;
        top: 5%;
        height: 90%;
        width: 90%;
        position: absolute;
    }

#aprender_mais
    {
        width: 90%;
        background-color: #C5EBD6;
        margin: 20px auto;
        border: 2px 2px 2px black;
        border-radius: 20px;
        margin-bottom: 20px;
        box-shadow: 5px 5px 2px rgb(223, 223, 223);
    }

#aprender_mais p
    {
        margin: 0;

    }

#div_tituloAprender
    {
        background-color: #2FA866;
        border-radius: 20px 20px 0px 0px;
    }
#titulo_aprender
    {   
        margin: -10px -10px 0px -10px;
        padding: 20px;
        font-size: 1.5em;
        color: white;
    }

.lista_nomes
    {  
        columns: 2;
    }   

    
.nome_lista
    {
        display: block;
        text-decoration: dashed;
        padding-bottom: 5px ;
    }

.nome_lista::before
    {
        content: '\2714 \FE0F';
    }

footer
    {
        text-align: center;
        background-color: #1A5C38;
    }    

footer p
    {
        font-size: 0.8em;
        padding: 10px 10px 10px 0;
    }    